#about {  
    max-width: 600px;
    margin: auto;
    padding: 40px;
}
#about .intro {
    margin-bottom: 10px;
}
#about .tags {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 25px auto 0;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid;
    border-color: rgb(100, 100, 100);
}