#about {  
    /* display: flex;
    flex-flow: row wrap;
    align-items: center; */
    margin: auto;
    padding: 30px 30px;
}
#about article {
    max-width: 600px;
}
#about aside {
    /* flex: 0 0 250px; */
}
#about .intro {
    margin-bottom: 10px;
}
#about .text {
    margin-top: 10px;
    line-height: 1.4;
}
#about .tags {
    display: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid;
    border-color: rgb(100, 100, 100);
}