#main {
    padding: 0px;
}
:-moz-full-screen #main {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
}
:-webkit-full-screen #main {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
}
:-ms-fullscreen #main {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
}
:fullscreen #main {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
}
:-moz-full-screen #profile,
:-moz-full-screen #header,
:-moz-full-screen #footer {
    display: none;
}
:-webkit-full-screen #profile,
:-webkit-full-screen #header,
:-webkit-full-screen #footer {
    display: none;
}
:-ms-fullscreen #profile,
:-ms-fullscreen #header,
:-ms-fullscreen #footer {
    display: none;
}
:fullscreen #profile,
:fullscreen #header,
:fullscreen #footer {
    display: none;
}