* {
    margin: 0;
    padding: 0;
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
    color: rgb(224, 224, 224);
}
body {
    --nav-height: 60px;
    --footer-height: 50px;
    --shadow-color: rgb(20, 20, 20);
    --bar-color: rgb(30, 30, 30);
    --profile-color: rgb(25, 25, 25);
    --main-color: rgb(22, 22, 22);
    --nav-font-size: 20px;
}
a {
    font-weight: bold;
    text-decoration: none;
    outline: 0;
}
a:hover {
    color: rgb(167, 224, 247);
}
#header {
    box-shadow: 0px 4px 4px var(--shadow-color);
    position: absolute;
    top: 0; left: 0; right: 0;
	height: var(--nav-height);
    text-align: right;
    background-color: var(--bar-color);
    z-index: 10;
} 
#lang {
	position: absolute;
    left: 0;
    line-height: var(--nav-height);
}
#lang a {
    margin-right: 8px;
}
.flag {
    width: 20px;
    height: auto;
}
#nav, #lang {
    margin: 0 2%;
}
#nav a {
    height: var(--nav-height);
    line-height: var(--nav-height);
    font-size: var(--nav-font-size);
    padding: calc((var(--nav-height) - var(--nav-font-size)) / 2) 20px;
}
#nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
#body-container {
	position:absolute;
	display: flex;
    top: var(--nav-height);
    bottom: var(--footer-height);
    right: 0;
    left: 0;
}
#profile {
    width: 320px;
    min-width: 320px;
    padding: 0 30px;
    box-shadow: 3px 0px 4px var(--shadow-color);
    text-align: center;
    background-color: var(--profile-color);
    z-index: 5;
} 
#avatar-container {  
    margin: 70px auto 0px;
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border-style: 3px solid;
    border-color: white;
}
#avatar {
    margin-left: -120px;
    width: auto;
    height: 100%;
}
#name {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
#bio {
    margin-top: 15px;
}
#socials {
    margin-top: 50px;
}
.social {
    width: 48px;
    height: auto;
}
#main {
    padding: 40px;
    flex-grow: 1;
    right: 0px;
    background-color: var(--main-color);
    z-index: 4;
} 
#footer {
    box-shadow: 0px -4px 4px var(--shadow-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    text-align: center;
    background-color: var(--bar-color);
    z-index: 10;
}   
#footer p {
    line-height: var(--footer-height);
    display: inline-block;
}