#main {
    padding: 0px;
}
#orbiter,
#orbiter .display {
    width: 100%;
    height: 100%;
    position: relative;
}
#orbiter .canvas {
    display: block;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
#orbiter .info {
    margin: 0 7px 4px;
    position: absolute;
    bottom: 0; left: 0; right: 0;
}
#orbiter .info * {
    display: inline;
    font-size: 12px;
    color: rgb(141, 141, 141);
}
#orbiter .info .credit {
    position: relative;
    float: right;
    position: absolute;
    bottom: 0; right: 0;
}
#orbiter .credits {  
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
}
#orbiter .credits .credit-row {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
#orbiter .credits .credit-elem {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 5px;
}
#orbiter .credits .credit-elem:first-child {
    margin-right: 20px;
}
#orbiter .credits .credit-img {
    flex: 1;
}
#orbiter .credits .credit-txt {
    flex: 1;
    margin-left: 20px;
}
#orbiter .credits .credit-img img {
    width: 100%;
    height: auto;
    display: block;
}
#orbiter .credits .credit-goback {
    font-size: 20px;
}
:-moz-full-screen #orbiter-info .credit-link {
    display: none;
}
:-webkit-full-screen #orbiter-info .credit-link {
    display: none;
}
:-ms-fullscreen #orbiter-info .credit-link{
    display: none;
}
:fullscreen #orbiter-info .credit-link {
    display: none;
}