#profile {
    --profile-width: 300px;
    flex: 0 0 var(--profile-width);
    padding: 60px 50px 50px;
    box-shadow: 3px 0px 4px var(--shadow-color);
    text-align: center;
    background-color: var(--profile-color);
    z-index: 2;
} 
#profile-wp {
    position: fixed;
    width: var(--profile-width);
    margin: 60px 0 50px;
} 
#avatar {  
    margin: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
#avatar img {
    margin-left: -120px;
    width: auto;
    height: 100%;
}
#name {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}
#bio1 {
    margin-top: 10px;
}
#bio2 {
    margin: 25px auto 0;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid;
    border-color: rgb(100, 100, 100);
}
#socials {
    margin-top: 35px;
}
.social {
    width: 48px;
    height: auto;
}